@import "style.css";

body {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/img/desk1.jpg");
  background-size: cover;
  font-family: "Gothic A1", sans-serif;
}

/* to-do-list */
/* frame */
main.to-do {
  top: 25%;
  left: 74%;
  transform: rotate(-2deg);
  width: 280px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid rgba(2, 2, 2, 0.8);
  border-bottom: 10px solid rgba(2, 2, 2, 0.8);
  border-radius: 25px;
  box-shadow: 0 3px 9px 1px #020202;
  z-index: 0;
}

.to-do__title {
  position: absolute;
  top: -5px;
  width: 60%;
  text-align: center;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
  padding: 2px 0;
  border-radius: 0 0 13px 13px;
  z-index: 1;
}

.to-do__block {
  width: 100%;
  height: 100%;
  position: relative;
}
.to-do__list {
  background: linear-gradient(
    to bottom,
    rgb(161, 186, 206) 30%,
    rgb(185, 191, 196)
  );
  border-radius: 19.5px 19.5px 0 0;
  width: 100%;
  height: calc(100% - 42.57px);
  overflow-x: hidden;
  padding-top: 20px;
  font-size: 25px;
  font-family: "Nanum Pen Script", cursive;
}
.to-do__item {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid wheat;
  word-break: break-all;
  animation: ease-out 1s createItem;
}
/* animation */
@keyframes createItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.to-do__insert {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 17px 17px;
  border: 0.5px solid #ffffff;
  background: linear-gradient(
    to bottom,
    rgb(243, 240, 240),
    rgba(255, 255, 255, 1)
  );
}
.to-do__form {
  width: 100%;
  height: 0px;
  background: linear-gradient(
    to bottom,
    rgb(243, 237, 237),
    rgb(247, 246, 246)
  );
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.to-do__input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}
.to-do__input:focus {
  outline: 0;
}

.to-do__insert--btn {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  border-radius: 0 0 15px 15px;
}

/* js */
.show {
  height: 25px;
}

.time {
  font-family: "Hi Melody", cursive;
  top: 5%;
  left: 5%;
  position: absolute;
  font-size: 100px;
  color: #fcf7f6;
  text-shadow: 5px 5px 4px black;
  text-align: center;
  padding: 0 5px;
}
